# разрешение выдачи листинга
Options Indexes

# запрет выдачи листинга
# Options -Indexes

# игнорировать файлы с расширением .php и начинающиеся с myfile (спецсимвол * заменяет любое количество символов)
# IndexIgnore *.php myfile*
