/**
начиная с разрешения 0px,
на разрешениях  ниже 0px
будет действовать  основной стиль.
*/

@media (min-width: 0) {
  /*** MENU ***/

  /*** HERO ***/

  /*** ABOUT US ***/

  /*** OUR-SERVICE ***/

  /*** OUR SOLUTION ***/
}

/**
начиная с разрешения 320px,
на разрешениях  ниже 320px
будет действовать  основной стиль.
*/

@media (min-width: 320px) {
  /*** MENU ***/

  /*** HERO ***/

  /*** OUR-SERVICE ***/

  /*** OUR SOLUTION ***/
}

/**
начиная с разрешения 576px,
на разрешениях  ниже 576px
будет действовать  основной стиль.
*/

@media (min-width: 576px) {
  /*** MENU ***/
  .navbar {
    padding: 0 1rem  0 0;
  }
.navbar-collapse{
   padding: 0.5rem 1rem;
  }
  /*** HERO ***/
}

/**
начиная с разрешения 768px,
на разрешениях  ниже 768px
будет действовать  основной стиль.
*/

@media (min-width: 768px) {
  /*** MENU ***/
  .navbar {
    padding: 0 1rem  0 0;
  }
  .navbar-collapse{
   padding: 0.5rem 1rem;
  }
  /*** HERO ***/

  /*** ABOUT US ***/
}

/**
начиная с разрешения 992px,
на разрешениях  ниже 992px
будет действовать  основной стиль.
*/

@media (min-width: 992px) {
  /*** MENU ***/
  .navbar {
    padding: 0 1rem  0 0;
  }
  /*** HERO ***/

  /*** ABOUT US ***/

  /***  OUR-SERVICE ***/
}

/**
начиная с разрешения 1200px,
на разрешениях  ниже 1200px
будет действовать  основной стиль.
*/

@media (min-width: 1200px) {
  /*** MENU ***/
  .navbar {
    padding: 0;
  }
  /*** HERO ***/

  /*** OUR-SERVICE ***/

  /*** ABOUT US ***/

  /*** OUR SOLUTION ***/
}

/**
начиная с разрешения 1440px,
на разрешениях  ниже 1440px
будет действовать  основной стиль.
*/

@media (min-width: 1441px) {
  /*** MENU ***/
  .navbar {
    padding: 0;
  }
  /*** HERO ***/

  /*** OUR-SERVICE ***/
}
