@media (min-width:0){.header_logo{background-color:#50342c;}
.hero-h1 h1{font-size:3.5em;}
.aboutus-text p{text-align:justify;margin:0 5px 0 5px;}
}
@media (min-width:320px){.aboutus h2{text-align:center;margin:50px 15px 0 15px;}
.aboutus .hr-h2{text-align:center;margin:5px auto 15px auto;}
.aboutus-text p{text-align:justify;margin:0 15px 0 15px;}
}
@media (min-width:576px){.navbar{padding:0 1rem 0 0;}
.navbar-collapse{padding:0.5rem 1rem;}
.hero-h1 h1{font-size:4.5em;}
.aboutus h2{text-align:left;margin:50px 15px 0 15px;}
.aboutus .hr-h2{text-align:left;margin:5px auto 15px 15px;}
.aboutus-text p{line-height:2rem;letter-spacing:normal;text-align:justify;margin:0 15px 0 15px;}
}
@media (min-width:768px){.navbar{padding:0 1rem 0 0;}
.navbar-collapse{padding:0.5rem 1rem;}
}
@media (min-width:992px){.navbar{padding:0 1rem 0 0;}
.aboutus-text p{line-height:2rem;letter-spacing:normal;text-align:justify;margin:0 90px 0 15px;}
}
@media (min-width:1200px){.header_logo{background-color:#e3d3b6;}
.navbar{padding:0;}
}
@media (min-width:1441px){.header_logo{background-color:#e3d3b6;}
.navbar{padding:0;}
}